/* @import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

#frame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.none {
  display: none;
}

.setup-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #0c376880;
  color: #fffbf4;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1000;
}

.setup-btn:hover {
  background-color: #115d5d;
}

.game,
.bg-img {
  position: fixed;
  width: 70%;
  top: 32%;
  left: 15%;
  text-align: center;
}

.game__group-number,
.bg-group-number {
  display: flex;
  justify-content: space-between;
}

.game__low-number,
.game__high-number {
  background-color: transparent;
  border-radius: 24px;
  min-width: 28%;
  min-height: 150px;
  border: transparent;
  font-size: 10rem;
  color: #fffbf4;
  background-color: #0c376880;
}

.game__cur-number {
  /* background-color: transparent; */
  background: #0c376880;
  border-radius: 24px;
  max-width: 25%;
  min-height: 150px;
  border: transparent;
  font-size: 10rem;
  color: #fffbf4;
  text-align: center;
}

.game__check,
.game__again {
  /* background-color: transparent; */
  background: #0c376880;
  border-radius: 24px;
  min-width: 25%;
  min-height: 120px;
  border: transparent;
  font-size: 9rem;
  color: #fffbf4;
  text-align: center;
  margin-top: 80px;
  cursor: pointer;
}

.board-color {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10;
}

.board-color__container {
  position: relative;
  width: 90%;
  height: 80%;
  top: 10%;
  left: 5%;
  background-color: #ffffff;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  opacity: 0.3;
  z-index: 10;
}

.board-color__list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.board-color__color {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}


.board-color__title {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
    max-width: 200px;
}
.bgOrange {
  background-color: #f9ed5f;
}

.bgDuckNeckBlue {
  background-color: #8fddd4;
}

.bgPinkChalk {
  background-color: #f4cde2;
}

.bgBananaGreen {
  background-color: #8f1c17;
}

.bgPurple {
  background-color: #2ac0e9;
}

.bgYellow {
  background-color: #62a557;
}

.bgRed {
  background-color: #aea1d9;
}

.bgCobaltGreen {
  background-color: #b6b6b4;
}

.bgHeavenlyBlue {
  background-color: #522789;
}

.bgPurpleHue {
  background-color: #db693f;
}

.bgGrey {
  background-color: #06558d;
}

.bgStrawberryPink {
  background-color: #c2e57d;
}

.opacity {
  opacity: 0.3;
}

.board-color.show {
  display: flex;
}

.board-color__container.show {
  display: flex;
  opacity: 1;
}

.feedback-message {
  background: rgba(10, 40, 120, 0.5);
  color: red;
  border-radius: 20px;
  padding: 24px 48px;
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  margin: 60px auto 0 auto;
  width: fit-content;
  transition: opacity 1s;
  z-index: 2000;
  position: relative;
}

.board-color__title_bgOrange {
    color: #f9ed5f;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
    max-width: 200px;
}

.board-color__title_bgDuckNeckBlue {
    color: #8fddd4;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
    max-width: 200px;
}

.board-color__title_bgPinkChalk {
    color: #f4cde2;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
    max-width: 200px;
}

.board-color__title_bgBananaGreen {
    color: #8f1c17;
        font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
    max-width: 200px;
}

.board-color__title_bgPurple {
    color: #2ac0e9;
        font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
    max-width: 200px;
}

.board-color__title_bgYellow {
    color: #62a557;
        font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
    max-width: 200px;
}

.board-color__title_bgRed {
    color: #aea1d9;
        font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
    max-width: 200px;
}

.board-color__title_bgCobaltGreen {
    color: #b6b6b4;
        font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
    max-width: 200px;
}

.board-color__title_bgHeavenlyBlue {
    color: #522789;
        font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
    max-width: 200px;
}

.board-color__title_bgPurpleHue {
    color: #db693f;
        font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
    max-width: 200px;
}

.board-color__title_bgGrey {
    color: #06558d;
        font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
    max-width: 200px;
}

.board-color__title_bgStrawberryPink {
    color: #c2e57d;
        font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
    max-width: 200px;
}
